<template>
  <v-main class="pa-4" fluid>
    <v-row>

      <v-snackbar v-model="alerta.activo" multi-line vertical top right :color="alerta.color" > 
        <strong> {{alerta.texto}} </strong>
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
        </template>
       </v-snackbar>

      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-h5 font-weight-bold"> Subcategorías </span>
            <v-spacer></v-spacer>
            <v-btn color="primary" tile dark class="mr-2"  @click="agregarNuevaSubCategoria()"> Nueva </v-btn>
            <v-btn color="secondary" dark fab small  class="mr-2" @click="initialize()">  <v-icon>mdi-refresh</v-icon> </v-btn>

          </v-card-title>

          <v-card-text>
            <v-row justify="end">
              <v-spacer></v-spacer>
              <v-col cols="12" md="4" lg="3">
                <v-text-field
                  name="name"
                  label="Buscar"
                  id="id"
                  dense
                  hide-details
                  append-icon="mdi-magnify" 
                  v-model="search"
                  clearable
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <v-data-table
                  :loading="loading"
                  :headers="headers"
                  :items="subcategorias"
                  :height="tamanioPantalla"
                  fixed-header
                  hide-default-footer
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  dense
                >
 
                  <template v-slot:item.editar="{ item }">
                    <v-btn tile small color="success" class="my-1 mx-1" @click="editItem(item)">
                      <v-icon small>mdi-pencil </v-icon>
                    </v-btn>

                    <v-btn tile small color="error" class="my-1" @click="deleteItem(item)">
                      <v-icon small>mdi-delete </v-icon>
                    </v-btn>
                  </template>
                  
                  <template v-slot:item.estatus="{ item }">
                    <v-chip v-if="item.estatus == 1" color="green" dark small>Activo</v-chip>
                    <v-chip v-else color="red" dark small>Inactivo</v-chip>
                  </template>

                 
                </v-data-table>
              </v-col>
            </v-row>

          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>

      <v-dialog v-model="nuevaSubcategoria" persistent width="400px">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card>
            <v-card-title> <span class="text-h5">{{ formTitle }}</span> </v-card-title>

            <v-card-text class="pb-0">
              <v-autocomplete
                v-model="categoria"
                :items="categorias"
                label="Categoría"
                return-object
                item-text="categoria"
                item-value="idcategorias"
                :rules="[v => !!v || 'Campo requerido']"
                outlined
                dense
              ></v-autocomplete>

              <v-text-field
                v-model="editedItem.subcategoria"
                label="Subcategoria"
                outlined
                dense
                :rules="[v => !!v || 'Campo requerido']"
              ></v-text-field>


              <v-checkbox label="Estatus" v-model="editedItem.estatus" >
              </v-checkbox>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="success" text @click="save" > Si, Guardar </v-btn>
              <v-btn color="error" tile  @click="nuevaSubcategoria= false"> No ,Cancelar </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
      
      <v-dialog v-model="dialogDelete" width="400px">
        <v-card>
          <v-card-title class="text-h6">¿Estas seguro de querer eliminar esté registro?</v-card-title>
          <v-card-actions>
            <v-btn color="error" text @click="deleteItemConfirm()">Si, Eliminar</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" tile dark @click="dialogDelete = false">No,Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-row>
  </v-main>
</template>
<script>
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins:[metodos],

    data: () => ({
    	loading:false,
      valid: true,
      search:'',
      text:'',
      color:'',
      snackbar: false,
      nuevaSubcategoria: false,
      dialogDelete: false,
      headers: [
        { text: 'Id',            align: 'left',sortable: false, value: 'idsubcategorias'},
        { text: 'Familia',       align: 'left',sortable: false, value: 'familia'},
        { text: 'Categoria',     align: 'left',sortable: false, value: 'categoria'},
        { text: 'Subcategoria',  align: 'left',sortable: false, value: 'subcategoria'},
        { text: 'Estatus',       align: 'left',sortable: false, value: 'estatus'},
        { text: 'Editar',        align: 'left',sortable: false, value: 'editar'},
      ],

      subcategorias: [],
      editedIndex: -1,
      editedItem: {
        idsubcategorias:0,
        subcategoria: '',
        idcatego: '',
        categoria: '',
        estatus: 0,
      },
      defaultItem: {
        idsubcategorias:0,
        subcategoria: '',
        idcatego: '',
        categoria: '',
        estatus: 0,
      },

      categorias:[],
      categoria:null,

      page: 1,
      pageCount: 0,
      itemsPerPage: 50,

      alerta: { 
          activo: false,
          texto: '',
          color: 'error',
      },

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva categoría' : 'Editar Categoría'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {

      initialize () {
        this.subcategorias = []
        this.loading = true
        this.$http.get('subcategorias.all').then(response =>{
          this.subcategorias = response.body
          this.subcategorias.forEach(element=>{
            element.estatus == 1 ? true:false
          })
          this.loading = false
        })

        this.$http.get('categorias.activo').then(response =>{
          this.categorias = response.body
        }).catch(error=>{console.log(error)})
      },

      editItem (item) {
        this.editedIndex = this.subcategorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.categoria = {idcategorias: this.editedItem.idcatego, categoria: this.editedItem.categoria}
        this.nuevaSubcategoria = true
      },

      deleteItem (item) {
        this.editedIndex = this.subcategorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        let idsubcategorias = this.editedItem.idsubcategorias;
        this.$http.put('subcategorias.eliminar/'+ idsubcategorias ).then(response =>{
          this.emitirMensaje(response.body.message, 1)
          this.closeDelete()
        }).catch(error => {
          console.log('Error al eliminar subcategoria',error)
          this.emitirMensaje(error.body.message, 2)
        })
      },

      close () {
        this.nuevaSubcategoria = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

    save () {
        if(this.$refs.form.validate()){
          this.editedItem.estatus == false ? 0 : 1
          this.editedItem.idcatego = this.categoria.idcategorias
          
          if (this.editedIndex > -1) {
            this.$http.put('subcategorias.update/'+ this.editedItem.idsubcategorias, this.editedItem).then(response=>{
              this.emitirMensaje(response.body.message, 1)
              this.initialize()
            }).catch(error =>{
              this.emitirMensaje(error.body.message, 2)
            })
          } else {
            this.$http.post('subcategorias.add', this.editedItem).then(response=>{
              this.emitirMensaje(response.body.message, 1)
              this.initialize()
            }).catch(error =>{
              this.emitirMensaje(error.body.message, 2)
            })
          }
          this.close()
      }
    },

    agregarNuevaSubCategoria(){
        this.limpiarFormulario();
        this.nuevaSubcategoria = true;
    },

    emitirMensaje(message, estatus ){
      this.alerta = { 
        activo: true,
        texto : message,
        color : estatus == 1? 'success': 'error'
      };
    },

    limpiarFormulario(){
        this.categoria = null
        this.editedItem = this.defaultItem
    }

    
  },
  }
</script>