<template>
  <v-main class="pa-4" fluid>
    <v-row>

      <v-snackbar v-model="alerta.activo" vertical top right :color="alerta.color" > 
        <strong> {{alerta.texto}} </strong>
        <template v-slot:action="{ attrs }">
          <v-btn dark text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
        </template>
      </v-snackbar>

      <v-col cols="12">
        <v-card  class="shadowCard" >
          <v-card-title primary-title>
            <span class="text-h5 font-weight-bold">  Usuarios </span>
            <v-spacer></v-spacer>
            <v-btn color="primary"   dark tile class="mr-2" @click="modalUsuarios = true; parametros = {}"> Nuevo usuario  </v-btn>
            <v-btn color="secondary" dark fab small class="mr-2" @click="initCatalogoUsuarios()">  <v-icon>mdi-refresh</v-icon> </v-btn>
            <!-- <v-btn color="warning"   dark class="mr-2" @click="exportar()"> <v-icon>save_alt</v-icon></v-btn> -->
            <!-- <v-btn color="success" dark @click="exportarInformacion()"> <v-icon>mdi-microsoft-excel</v-icon></v-btn> -->

          </v-card-title>

          <v-card-text>
            <v-row justify="end">
              <v-spacer></v-spacer>
                <v-col cols="12" md="4" lg="3">
                  <v-text-field
                    name="name"
                    label="Buscar"
                    id="id"
                    dense
                    hide-details
                    append-icon="mdi-magnify" 
                    v-model="search"
                    clearable
                  ></v-text-field>
                </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <v-data-table
                  :loading="loading"        
                  :headers="headers"
                  :items="usuarios"
                  class="elevation-0"
                  :search="search"
                  :height="tamanioPantalla"
                  fixed-header
                  hide-default-footer
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  dense
                >

                  <template v-slot:item.actions="{ item }">
                    <v-btn color="success" tile small class="my-1 mx-1" @click="modalUsuarios = true; parametros = item">
                      <v-icon >mdi-pencil</v-icon>
                    </v-btn>

                    <v-btn tile small color="error" class="my-1" @click="deleteItem(item)">
                      <v-icon >mdi-delete </v-icon>
                    </v-btn>

                    <v-btn color="grey" tile small dark class="my-1 mx-1" @click="modalPassword= true; parametros = item">
                      <v-icon >mdi-lock-outline</v-icon>
                    </v-btn>
							    </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>

      <v-dialog v-model="modalUsuarios" width="500" >
        <v-card class="pa-4">
            <NewUsuario
              :parametros="parametros"
              @modal="modalUsuarios = $event;"
              @initCatalogoUsuarios="initCatalogoUsuarios()"
            />
        </v-card>
      </v-dialog>

      <v-dialog v-model="modalPassword" width="400" >
        <v-card class="pa-4">
            <controlPassword
              :parametros="parametros"
              @modal="modalPassword = $event;"
              @initCatalogoUsuarios="initCatalogoUsuarios()"
            />
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogDelete" width="350px">
        <v-card>
          <v-card-title class="text-h6" >¿Estas seguro de querer eliminar el registro ?
            <!-- <strong>{{ editedItem.idusuariosweb }}</strong>? -->
          </v-card-title>
          <v-card-actions>
            <v-btn color="success" text @click="deleteItemConfirm()">Si, Eliminar</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="error" tile dark @click="closeDelete()">No,Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-row>  
  </v-main>
</template>


<script>
  import  metodos from '@/mixins/metodos.js';
  import NewUsuario from '@/views/usuarios/NewUsuario.vue'
  import controlPassword from '@/views/usuarios/control_password.vue'
  // var accounting = require("accounting");
  // var md5     = require('md5')

  export default {
    mixins:[metodos],
    components: {
      NewUsuario,
      controlPassword
		},

    data: () => ({
      nombre: 'Catálogo-de-usuarios ',
      dialog: false,
      headers: [
        { text: 'ID'          , align: 'left',sortable: false, value: 'idusuariosweb' },
        { text: 'Nombre'      , value: 'nombre' },
        { text: 'Usuario'     , value: 'usuario' },
        { text: 'Correo'      , value: 'correo' },
        { text: 'Bodega'      , value: 'bodega' },
        { text: 'Nivel'       , value: 'nivel'},  
        { text: ''     , value: 'actions', sortable: false },
      ],
      page: 0,
      pageCount: 0,
      itemsPerPage: 100,
      
      search: '',
      loading: false,
      usuarios: [],

      alerta: { 
        activo: false, 
        texto:'', 
        color:'error' 
      },
      datosParaExportar:[],
      modalUsuarios: false,
      modalPassword: false,
      parametros:{},

      editedIndex: -1,
      dialogDelete: false,
      editedItem: {
        idusuariosweb: null,
      },
      defaultItem:{
        idusuariosweb: null,
      }
           
    }),

    
    created () {
      this.initCatalogoUsuarios()
    },

    methods: {
 
      // EXCEL
      // exportar(){
      //   let xls = {
      //     data:      this.usuarios,
      //     tHeaders : ['ID', 'Usuario', 'Email', 'Cliente', 'Nombre Cliente', 'ID Vend', 'Vendedor', 'Nivel'],
      //     filterVal: ['idusuariosweb', 'Nomuser', 'Email', 'numcli', 'Nomcli', 'idvend', 'Nomvend', 'nivel'],
      //     nomfile :  "Consulta de Usuarios"
      //   }
      //   // console.log(xls)
      //    this.exportarXls(xls)
      // },

      exportarInformacion() {
        this.datosParaExportar = this.usuarios;
        this.exportToExcel(this.datosParaExportar, this.nombre)
      },


      initCatalogoUsuarios() {
        //Consultar Usuarios
        this.loading = true
        this.$http.get('obtener.usuarios.catalogo').then( response => {
          this.usuarios= response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 
      },  

      deleteItem (item) {
        console.log('item', item);
        this.editedIndex = this.usuarios.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	// this.cargar = true
        this.closeDelete();

        this.$http.delete('eliminar.usuario.catalogo/' + this.editedItem.idusuariosweb).then(response=>{
          this.emitirMensaje(response.body.message, 1)
          this.initCatalogoUsuarios();
        }).catch( error =>{
          this.emitirMensaje(error.body.message, 2)
        }).finally( () => {
          //  this.cargar = false 
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      emitirMensaje(message, estatus ){
        this.alerta = { 
          activo: true,
          texto : message,
          color : estatus == 1? 'success': 'error'
        };
      },



    },

  }
</script>