<template>  
  <v-container class="pa-1">

    <v-snackbar v-model="alerta.activo" multi-line :vertical="true" top right :color="alerta.color" > 
      <strong> {{alerta.texto}} </strong>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
      </template>
    </v-snackbar>


    <v-card-actions>
      <div class="font-weight-black text-md-h6 text-xs-subtitle-1 "> {{ modoText }}   </div>
      <v-spacer></v-spacer>
      <v-btn color="error" fab small elevation="1" @click="$emit('modal',false)" ><v-icon>clear</v-icon></v-btn>
    </v-card-actions>

    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
      <v-text-field
        v-model="usuario.nombre"
        :counter="60"
        :rules="nameRules"
        label="Nombre"
        required
        filled
        dense
      ></v-text-field>

      <v-text-field
        v-model="usuario.usuario"
        :counter="15"
        label="Nombre de usuario"
        filled
        dense
      ></v-text-field>

      <v-text-field
        v-model="usuario.correo"
        :rules="emailRules"
        label="Correo"
        required
        filled
        dense
        type="email"
      ></v-text-field>

      <v-text-field
        v-model="usuario.telefono"
        label="Contacto 1"
        required
        filled
        dense
        ></v-text-field>

      <v-text-field
        v-model="usuario.celular"
        label="Contacto 2"
        filled
        dense
      ></v-text-field>
<!-- 
      <v-select
        v-model="usuario.nivel"
        :items="niveles"
        :rules="[v => !!v || '*Requerido']"
        label="Nivel"
        required
      ></v-select> -->

      <v-autocomplete
        :items="niveles" 
        v-model="nivel" 
        item-text="nombre" 
        item-value="id" 
        label="Niveles" 
        return-object 
        :rules="[v => !!v || '*Requerido']"
        required
        filled
        dense
      ></v-autocomplete>

      <v-autocomplete
        :items="bodegas" 
        v-model="bodega" 
        item-text="nombre" 
        item-value="idbodegas" 
        label="Bodegas" 
        return-object
        v-if="mostrarBodega"
        :required="mostrarBodega"
        filled
        dense
      ></v-autocomplete>

      <v-text-field
        v-if="nModo == 1"
        v-model="password"
        prepend-icon="lock"
        :append-icon="show1 ? 'visibility' : 'visibility_off'"
        :type="show1 ? 'text' : 'password'"
        label="contraseña"
        hint="Máximo 30 caracteres"
        :counter="30"
        required
        @click:append="show1 = !show1"
        @input="validatePassword"
        :error-messages="passwordError"
        filled
        dense
      ></v-text-field>

      <v-radio-group v-model="usuario.idestatus" row v-if="nModo == 2">
        <v-radio label="Activo"   :value="2"></v-radio>
        <v-radio label="Inactivo" :value="0"></v-radio>
        <v-radio label="Baja"     :value="3"></v-radio>
      </v-radio-group>
      <!-- <v-btn
        color="error"
        class="mr-4"
        @click="reset"
      >
        Limpiar campos
      </v-btn> -->

    </v-form>

    <div class="mt-10"></div>

    <v-footer absolute>
      <v-spacer></v-spacer>
      <v-btn
        v-if="nModo == 1"
        :disabled="!valid"
        color="primary"
        class="mr-4"
        tile
        @click="agregarNuevoUsuario()"
      >
        Agregar
      </v-btn>
      <v-btn
        v-if="nModo == 2"
        :disabled="!valid"
        color="primary"
        @click="actualizarUsuario()"
        tile
      >
        Actualizar
      </v-btn>

    </v-footer>

    <overlay v-if="overlay"/>

   
  </v-container>
</template>


<script>

  import {mapActions , mapGetters} from 'vuex'
  import overlay from '@/components/overlay.vue'
  import  metodos from '@/mixins/metodos.js';

  // var accounting = require("accounting");
  // var md5     = require('md5');

  export default {
    mixins:[metodos],
	  components: {
			// loading,
      overlay
		},
    props:[
			'parametros',
	  ],
    
    data () {
      return {
        idusuariosweb:'',
        nModo:'',
        modoText:'',
        usuario:[],

        password:'',
        passwordError: '',

        readonly: false,

        niveles: [],
        bodegas:[],
        bodega:{idbodegas:null, nombre:''},
        nivel:{ id: null, nombre: ''},

        mostrarBodega:false,

        snackbar: false,  
        error: '',
        color:'',
        text:'', 

        show1: false,


        valid: true,
        name: '',
        nameRules: [
          v => !!v || '*Requerido',
          v => (v && v.length <= 50) || 'Máximo 50 caracteres',
        ],
        emailRules: [
          v => !!v || '*Requerido',
          v => /.+@.+\..+/.test(v) || 'email no valido',
        ],
       
        lazy: false,
        alerta: { activo: false, texto:'', color:'error' },
        overlay: false,
      }
    },


    watch:{
			parametros(){
				this.initialize();
			},

      nivel(){
        if(!this.nivel) return ;

        if([3,4].includes(this.nivel.id)){
          this.mostrarBodega = true
        }else{
          this.mostrarBodega = false
          this.bodega={idbodegas:null, nombre:''}
        }
      }
    },

    async created () {
      this.initialize();
      this.niveles = await this.consultar_niveles();
      this.bodegas = await this.consultar_bodegas();

    },

    methods:{
      ...mapActions('Login',['validarUser']),
      ...mapActions('Login',['GetInfoUser' ,]),

      initialize(){
        this.idusuariosweb = this.parametros.idusuariosweb
        if (this.idusuariosweb !== undefined){
          this.nModo = 2
          this.usuario = this.parametros;
          this.nivel = { id : this.usuario.idnivel, nombre: this.usuario.nivel }
          this.bodega = { idbodegas : this.usuario.idbodegas} 
          // console.log("es LA CATEEGO :",this.idCatego)
          // this.cargarinfo(this.idusuariosweb) 
          this.readonly = true    
        } else {
          this.nModo = 1
          this.usuario = []
        }     

        this.nModo == 1 ? (this.modoText = 'Nuevo Usuario'):(this.modoText = 'Editar usuario')
      },

      validatePassword() {
        const regex = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d@!#%&*?~.,;:{}[\]()^$+=<>\-\\|]{8,}$/;

        if (!regex.test(this.password)) {
          this.passwordError = 'La contraseña debe tener al menos 8 caracteres, una mayúscula y un número';
        } else {
          this.passwordError = '';
        }
      },

      agregarNuevoUsuario(){
        this.overlay = true; 

        let request = {
          nombre   : this.usuario.nombre,
          usuario  : this.usuario.usuario,
          correo   : this.usuario.correo,
          password : this.password,
          nivel    : this.nivel.id,
          bodega   : this.bodega.idbodegas ? this.bodega.idbodegas: 0,
          telefono : this.usuario.telefono ? this.usuario.telefono: 0,
          celular  : this.usuario.celular ? this.usuario.celular : 0
        };

        this.$http.post('agregar.nuevo.usuario.catalogo', request).then( response => {
          this.emitirMensaje(response.body.message, 1)
          this.$emit('initCatalogoUsuarios')
          this.$emit('modal',false)
          // this.enviarCorreo(response.body.id)
        }).catch(error => {
          this.emitirMensaje(error.body.message, 2)
          console.log(error.body)
        }).finally(()=>{
          this.overlay = false
        })
      },

      actualizarUsuario(){
        this.overlay = true;

        let request = {
          nombre   : this.usuario.nombre,
          usuario  : this.usuario.usuario,
          correo   : this.usuario.correo,
          nivel    : this.nivel.id,
          bodega   : this.bodega.idbodegas ? this.bodega.idbodegas: 0,
          telefono : this.usuario.telefono ? this.usuario.telefono: 0,
          celular  : this.usuario.celular ? this.usuario.celular : 0,
          estatus  : this.usuario.idestatus
        };

        this.$http.put('updateuser/' + this.usuario.idusuariosweb, request).then( response => {
          this.emitirMensaje(response.body.message, 1)
          this.$emit('initCatalogoUsuarios')
          this.$emit('modal',false)
        }).catch(error => {
          this.emitirMensaje(error.body.message, 2)
          console.log(error.body)
        }).finally(()=>{
          this.overlay = false
        })
      },

      reset() {
        this.$refs.form.reset()
      },

      emitirMensaje(message, estatus ){
        this.alerta = { 
          activo: true,
          texto : message,
          color : estatus == 1? 'success': 'error'
        };
      },
      // CARGAR INFO 
      // cargarinfo(id){
      //   this.$http.get('users/' + id).then(response => {
      //     this.usuario = response.body;
      //     this.nivel = {id : this.usuario.idniveles, codigo: this.usuario.nivel }
      //     this.bodega = { idbodegas : this.usuario.idbodegas} 
      //   }).catch(error=>{
      //       console.log(error)
      //   })
      // },

      // validar(){
      //   if (this.nModo == 1) {
      //     this.validarExistencia()
      //   }  else {
      //     var me = this 
      //     this.$http.put('auth/api/v1/usuarios.update/'+ this.usuario.idusuariosweb, payload).then(response => {
      //       // console.log('response', response.body)
      //       this.snackbar = true ; this.color="blue lighten-3"
      //       this.text = "El usuario de modifico correctamente."
      //       setTimeout(function(){ me.$router.push({name: 'catusuarios'}) }, 2000);
      //     }).catch(error=>{
      //       console.log(error)
      //     })

      //   }
      // },

      // validarExistencia(){
      //   var payload = {
      //     nomuser  : this.usuario.nomuser,
      //     nomper   : this.usuario.nomper,
      //     email    : this.usuario.email,
      //     password : md5(this.usuario.password),
      //     nivel    : this.usuario.nivel,
      //     estatus  : 0
      //   }

      //   this.$http.post('user.email', payload).then(respuesta=>{
      //     console.log('respuesta getId',respuesta)
      //     if(respuesta.body.message){
      //       this.agregarNuevoUsuario(payload)
      //     }else{
      //       console.log('no agregar')
      //       if(respuesta.body.email == this.usuario.email){
      //         this.text = 'El correo que quieres registrar ya existe'
      //         this.color = 'red'
      //         this.snackbar = true
      //       }

      //       if(respuesta.body.nomuser == this.usuario.nomuser){
      //         this.text = 'El correo que quieres registrar ya existe'
      //         this.color = 'red'
      //         this.snackbar = true
      //       }
      //     }
      //   })
      // },



      // enviarCorreo(id){
      //   var url = this.$http.options.root.substr(0,this.$http.options.root.length -6)+'/admin-app/#/activarusuario/'

      //   var payload = {
      //     nomper:       this.usuario.nomper,
      //     correo:       this.usuario.email,
      //     url:          url + id
      //   }

      //   this.$http.post('correos.send',  payload).then(respuesta=>{ 
      //     console.log(respuesta)
      //     this.text = 'Se envío un correo de validación'
      //     this.color = 'success'
      //     this.snackbar = true
      //   }).catch(error=>{
      //     console.log('error',error)
      //     resolve(false)
      //   })
      // },



    }
  };
</script>




