<template>
  <v-main class="pa-4" fluid>
    <v-row>

			<v-snackbar v-model="alerta.activo" multi-line vertical top right :color="alerta.color" > 
          <strong> {{alerta.texto}} </strong>
          <template v-slot:action="{ attrs }">
            <v-btn color="white" text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
          </template>
        </v-snackbar>
      <v-col cols="12">
        <v-card class="elevation-0">
          <v-card-title primary-title>
            Configuración de Banners 
						<v-spacer></v-spacer>
						<v-btn tile color="primary" @click="abrirModal">Nuevo Banner</v-btn>
            <v-btn color="secondary" dark fab small class="mx-2" @click="cargarFotos()">  <v-icon>mdi-refresh</v-icon> </v-btn>
          </v-card-title>
				</v-card>
			</v-col>
			<v-col class="12">
          <!-- <v-card class="pa-4"> -->
            <v-row>
              <v-col
                cols="12"
                xl="4"
                lg="6"
                md="6"
                xs="6"
                v-for="(f, i) in fotos"
                :key="i"
              >
                <v-card class="elevation-5" >
									<v-row>
										<v-col cols="6" class="text-center">
											<v-card-title> Banner para PC</v-card-title>
											<v-img :src="url + f.nombanner" contain height="100" />
										</v-col>
										<v-col cols="6" class="text-center">
											<v-card-title> Banner para Movil</v-card-title>
											<v-img :src="url + f.banner_mobil" contain height="100" />
										</v-col>
									</v-row>

									<div class="my-5"></div>
							

                  <v-footer >
                    <v-btn tile block color="error" @click="deleteItem(f)">
											Eliminar Banner
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </v-footer>
                </v-card>

              </v-col>

								<v-col cols="12" v-if="!fotos.length">
								<v-alert icon="mdi-shield-lock-outline"	prominent	text type="info">
									Lo sentimos no hay banners que mostrar por el momento.
								</v-alert>
							</v-col>

            </v-row>
          </v-card>
          <!-- <v-divider></v-divider> -->
        <!-- </v-card> -->
      </v-col>
    </v-row>

    <!-- Modal para cargar imágenes -->
    <v-dialog v-model="dialog" width="500px">
      <v-card class="pa-2 ">

				<v-card-actions>
						<div class="font-weight-black text-md-h6 text-xs-subtitle-1 "> Nuevo Banner   </div>
						<v-spacer></v-spacer>
						<v-btn color="error" fab small elevation="1" @click="dialog = false" ><v-icon>clear</v-icon></v-btn>
				</v-card-actions>

        <v-card-text class="mt-3">
          <v-file-input
            label="Banner para PC"
            accept="image/png, image/jpeg, image/bmp"
            v-model="bannerPc"
            @change="previsualizarImagen('pc')"
            outlined
          ></v-file-input>
          <v-img v-if="previewPc" :src="previewPc" height="150px" contain class="my-2"></v-img>

          <v-file-input
            label="Banner para moviles"
            accept="image/png, image/jpeg, image/bmp"
            v-model="bannerMobil"
            @change="previsualizarImagen('mobil')"
            outlined
          ></v-file-input>
          <v-img v-if="previewMobil" :src="previewMobil" height="150px" contain class="my-2"></v-img>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="guardarImagenes" :disabled="!bannerPc || !bannerMobil">Guardar</v-btn>
          <v-btn @click="dialog = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

		    <!-- Dialogo para eliminar -->
		<v-dialog v-model="dialogDelete" width="500px">
      <v-card>
        <v-card-title class="text-h6">¿Estas seguro de querer eliminar esté banner?</v-card-title>
				<v-divider class="my-0 py-3" ></v-divider>
          <v-card-subtitle align="center" class="red--text font-weight-bold "> UNA VEZ ELIMINADO NO PODRÁ RECUPERARSE </v-card-subtitle>
          <v-divider class="my-0 py-2 " ></v-divider>
        <v-card-actions>
          <v-btn color="success" text @click="deleteFoto()">Si, Eliminar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="error" tile dark @click="closeDelete()">No,Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-main>
</template>

<script>
export default {
  data() {
    return {
      url: '', // URL base para los banners
      fotos: [], // Array para almacenar las imágenes actuales
      bannerPc: null, // Imagen seleccionada para PC
      bannerMobil: null, // Imagen seleccionada para móvil
      previewPc: null, // Previsualización de la imagen para PC
      previewMobil: null, // Previsualización de la imagen para móvil
      
			dialog: false, // Controla la visibilidad del modal
      dialogDelete: false, // Controla la visibilidad del modal para eliminar

      alerta: { 			// Modulo de alertas
          activo: false,
          texto: '',
          color: 'error',
      },

			editedIndex: -1, // Ayuda a guardar el id para operaciones

			editedItem: {
				idbanners: null,
				nombanner: null,
				bannerMobil : null,
			},
    };
  },

  created() {
    // Cargar la URL base y las fotos actuales al iniciar el componente
    this.url = this.$http.options.root + 'fotos-epic-grass/';
    this.cargarFotos();
  },

  methods: {
    abrirModal() {
      // Abrir el modal
      this.dialog = true;
    },

    previsualizarImagen(tipo) {
      // Previsualizar la imagen cargada (para PC o móvil)
      const file = tipo === 'pc' ? this.bannerPc : this.bannerMobil;
      const reader = new FileReader();
      reader.onload = (e) => {
        if (tipo === 'pc') {
          this.previewPc = e.target.result;
        } else {
          this.previewMobil = e.target.result;
        }
      };
      reader.readAsDataURL(file);
    },

    guardarImagenes() {
      // Validar que ambas imágenes estén cargadas
      if (!this.bannerPc || !this.bannerMobil) {
        console.log("Por favor, carga ambas imágenes.");
        return;
      }

      const formData = new FormData();
      formData.append('banner_pc', this.bannerPc);
      formData.append('banner_mobil', this.bannerMobil);

      // Llamada a la API para guardar las imágenes
      this.$http.post('banner.add', formData).then(response => {
				this.emitirMensaje(response.body.message, 1);
				this.limpiarDatos()
        this.dialog = false; // Cerrar el modal
        this.cargarFotos(); // Refrescar las fotos después de guardar
      }).catch(error => {
				this.emitirMensaje(error.body.message, 2)
        console.log("Error al guardar los banners:", error);
      });
    },

    cargarFotos() {
      // Llamada a la API para obtener las fotos actuales
      this.$http.get('banner.list').then(response => {
        this.fotos = response.data;
      }).catch(error => {
				this.emitirMensaje(error.body.message, 2)
        console.log("Error al cargar las fotos:", error);
      });
    },

		deleteItem (item) {
        this.editedIndex = this.fotos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

    deleteFoto() {
			this.dialogDelete = false;
      // Eliminar una foto seleccionada por su ID
      this.$http.post(`banner.eliminar`, this.editedItem).then(response => {
				this.emitirMensaje(response.body.message, 1);
				this.limpiarDatos()
        this.cargarFotos(); // Recargar las fotos después de eliminar
      }).catch(error => {
				this.emitirMensaje(error.body.message, 2)
        console.log("Error al eliminar el banner:", error);
      });
    },

		limpiarDatos(){
			this.bannerPc = null // Imagen seleccionada para PC
      this.bannerMobil = null // Imagen seleccionada para móvil
      this.previewPc = null // Previsualización de la imagen para PC
      this.previewMobil = null
		},

		closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = {}
          this.editedIndex = -1
        })
      },

		emitirMensaje(message, estatus ){
        this.alerta = { 
          activo: true,
          texto : message,
          color : estatus == 1? 'success': 'error'
        };
      },

  },
};
</script>
