<template>
  <v-main fluid class="fill-height d-flex align-center">
    <v-row class="justify-center">
      <v-col class="text-center">
        <img src="@/assets/logo.png"  width="10%"><br>
        <img src="@/assets/mascota.png"  width="35%">

      </v-col>
    </v-row>
  </v-main>

</template>
