<template>
  <v-main fluid class="fill-height d-flex align-center">
    <v-snackbar v-model="alerta.activo"  multi-line vertical top right :color="alerta.color" > 
      <strong> {{alerta.texto}} </strong>
      <template v-slot:action="{ attrs }">
        <v-btn dark text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
      </template>
    </v-snackbar>

    <v-row class="justify-center">
      <v-col cols="12"  sm="7" md="5" lg="3" class="d-flex align-center">

        <v-card class="pa-6 neumorphism">
          <v-card-text class=" text-center"  v-if="login">

            <img
              :src="require('@/assets/logo.png')"
              :lazy-src="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
              aspect-ratio="1.5"
              class=" pa-2 mb-5"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              width="60%" 
              transparent
              loading="lazy"
            >
          </v-card-text>

          <v-card-text class="py-0 px-2"  v-if="login">
            <template v-if="!OlvideContra">
              <v-form ref="form" v-model="valid" >
               
                <label >Correo electrónico</label>
                <v-text-field
                  v-model="correo" 
                  append-icon="mdi-email" 
                  placeholder="email@example.com" 
                  required
                  filled
                  type="text"
                  :rules="emailRules"
                  >
                </v-text-field>

                <label >Contraseña</label>
                <v-text-field
                  v-model="password"
                  append-icon="lock"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="passwordRules"
                  :type="show1 ? 'text' : 'password'"
                  placeholder="**********"
                  @click:append="show1 = !show1"
                  @keyup.enter="ingresar"
                  clearable
                  filled
                  required
                ></v-text-field>
              </v-form>
            </template>
          </v-card-text>


          <v-card-actions v-if="!OlvideContra" class="mt-5">
            <v-btn 
              :loading="iniciar"
              persistent
              block 
              @click="ingresar()" 
              tile
              class="elevation-10 pa-6 btn-neumorphism"
              color="primary"
            >
              <strong>Iniciar sesión</strong>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>  
  </v-main>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'
  // var md5     = require('md5')

  export default {
    data(){
      return{
        url:'',
        login: true, 
        password: '',
        correo:'',
        iniciar: false,
        // tipos_registros: [{id:1, nombre:'Docente'}, {id:2, nombre:'Alumno'}],
        // tipo_registro:{ id:null, nombre:''},
       
        show1: false,
				alerta: { activo: false, texto:'', color:'error' },

        valid: false,
        emailRules    :  [v => !!v || 'requerido'],
        passwordRules    :  [v => !!v || 'requerido'],
        tipoRules     :   [v => !!v || 'Es requerido'],
        OlvideContra: false
      }
    },

    created(){
      this.url  = this.$http.options.root + 'fotos-fetish//logo.png'
      if(this.getLogeado){
        this.$router.push({ name: 'home' })  
      }
    },


    computed:{
      ...mapGetters('Login',['getdatosUsuario','getLogeado']),
    },

    methods:{
      // ...mapActions(['guardarDatosUsuario']),
      ...mapActions('Login',['validarUser']),
      ...mapActions('Login',['GetInfoUser' ,]),

      ingresar (){
        this.iniciar = true;
        var usuario = { 
          email   : this.correo, 
          password: this.password
        };

        this.GetInfoUser(usuario).then(response => {
          console.log('response', response);
         
            this.alerta = { activo: true, texto: 'BIENVENIDO A EPIC GLASS ADMINISTRACIÓN', color:'primary'};
            this.$router.push({ name: 'home' })  
    
        }).catch(error =>{
          this.alerta = { activo: true, texto: error.body.message, color:'error'};
          console.log('error',error)
        }).finally( ()=>{
          this.iniciar = false
        });
        
      }
    }
  };


</script>
<style scoped>
 
  .neumorphism{
    border-radius: 17px;
    background: linear-gradient(225deg, #ffffff, #ffffff);
    box-shadow:  -30px 30px 60px #73217966,
                30px -30px 60px #e637f3;
                transition: all 0.3s;

  }

  .neumorphism:hover {
    box-shadow: 0px 0px 80px 2px rgba(209, 47, 221, 0.3);
    transform: scale(0.98);
  }

  .btn-neumorphism {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
    /* background-color: white;  */
    /* color: black;  */
  }
</style>




  