<template>
	<v-main  class="pa-4" fluid>
	  <v-row>
	  	<v-col cols="12">

        <v-snackbar v-model="alerta.activo" multi-line vertical top right :color="alerta.color" > 
          <strong> {{alerta.texto}} </strong>
          <template v-slot:action="{ attrs }">
            <v-btn color="white" text @click="alerta.activo = false" v-bind="attrs"> Cerrar </v-btn>
          </template>
        </v-snackbar>

	  		<v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-h5 font-weight-bold"> Sabores </span>
	  		    <v-spacer></v-spacer>
            <v-btn color="primary" tile dark class="mr-2"  @click="agregarNuevoSabor()"> Nueva sabor </v-btn>
            <v-btn color="secondary" dark fab small class="mr-2" @click="initialize()">  <v-icon>mdi-refresh</v-icon> </v-btn>
	  		  </v-card-title>

	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6" lg="5">
	  		  			<v-text-field
                    name="name"
                    label="Buscar"
                    id="id"
                    dense
                    hide-details
                    append-icon="mdi-magnify" 
                    v-model="search"
                    clearable
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="sabores"
							    :mobile-breakpoint="100"
                  :search="search"
                  :loading="loading"
                  :height="tamanioPantalla"
                  fixed-header
                  hide-default-footer
                  :page.sync="page"
                  :items-per-page="itemsPerPage"
                  @page-count="pageCount = $event"
                  dense
							  >
                  <template v-slot:item.actions="{ item }">
                    <v-btn tile small color="success" class="my-1 mx-1" @click="editItem(item)">
                      <v-icon small>mdi-pencil </v-icon>
                    </v-btn>

                    <v-btn tile small color="error" class="my-1" @click="deleteItem(item)">
                      <v-icon small>mdi-delete </v-icon>
                    </v-btn>
							    </template>

							    <template v-slot:item.estatus="{ item }">
							    	<v-chip :color="item.estatus == 1 ? 'green' : 'red'" small dark>
								      <span>{{ item.estatus == 1 ? 'Activo' : 'Inactivo' }}</span>
							    	</v-chip>
							    </template>

							    <template v-slot:no-data>
							      <v-btn color="primary"  @click="initialize()" small> Recargar </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog v-model="nuevoSabor" width="400px" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1"><strong>ID: {{ editedItem.idsabores }}</strong></span>
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model="editedItem.sabor"
            label="* Sabor"
            filled
            hide-details
            dense
          ></v-text-field>

          <v-checkbox 
            label="Estatus" 
            v-model="editedItem.estatus" 
          >
          </v-checkbox>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" tile text @click="save()"> Si,Guardar </v-btn>
          <v-btn color="error" tile @click="close()"> No, Cancelar </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" width="400px">
      <v-card>
        <v-card-title class="text-h6">¿Estas seguro de querer eliminar esté registro?</v-card-title>
        <v-card-actions>
          <v-btn color="success" text @click="deleteItemConfirm()">Si, Eliminar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="error" tile dark @click="closeDelete()">No,Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <!-- <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/> -->
    <carga                v-if="cargar"/>

  </v-main>
</template>
<script>
  import { mapGetters } from 'vuex'
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  // import validarErrores        from '@/mixins/validarErrores'
  // import funcionesExcel        from '@/mixins/funcionesExcel'
  import  metodos from '@/mixins/metodos.js';

  export default {
    mixins: [ metodos ],
    components:{
      Alerta,
      carga,
    },

    data: () => ({
      loading: false,

      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idsabores:0,
				sabor:'',
				estatus: 0,
				deleted:0,
				fecha_creacion:null,
      },

      defaultItem: {
        idsabores:0,
				sabor:'',
				estatus: 0,
				deleted:0,
				fecha_creacion:null,
      },

      // tabla
			search:'',
      sabores: [],
      headers: [
        { text: 'ID'        , value: 'idsabores'    },
        { text: 'Sabor'     , value: 'sabor'        },
        { text: 'Estatus'   , value: 'estatus'      } ,
        // { text: 'Fecha'     , value: 'fecha_creacion' },
        { text: 'Actions'   , value: 'actions', sortable: false },
      ],

      nuevoSabor: false,

      page: 1,
      pageCount: 0,
      itemsPerPage: 50,

      alerta: { 
          activo: false,
          texto: '',
          color: 'error',
      },
    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar sabor' : 'Editar sabor'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },

    },

    async created () {
      await this.initialize()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.sabores = []
        return this.$http.get('sabores.list').then(response=>{
        	this.sabores = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.emitirMensaje(error.body.message, 2)
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.sabores.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.nuevoSabor = true
      },

      deleteItem (item) {
        this.editedIndex = this.sabores.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('sabores.update/' + this.editedItem.idsabores, this.editedItem).then(response=>{
          this.emitirMensaje(response.body.message, 1)
          this.initialize();
          this.closeDelete()
        }).catch( error =>{
          this.emitirMensaje(error.body.message, 2)
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.nuevoSabor = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      agregarNuevoSabor(){
        this.limpiarFormulario();
        this.nuevoSabor = true;
      },

      save () {
      	if(this.editedItem.sabor == ''){
      		this.emitirMensaje('Favor de llenar todos los campos', 2);
          return
      	}
      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('sabores.update/' + this.editedItem.idsabores, this.editedItem).then(response=>{
            this.emitirMensaje(response.body.message, 1)
            this.initialize();
	        }).catch( error =>{
            this.emitirMensaje(error.body.message, 2)
        	}).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('sabores.add', this.editedItem).then(response=>{
            this.emitirMensaje(response.body.message, 1)
            this.initialize()
	        }).catch( error =>{
            this.emitirMensaje(error.body.message, 2)
        	}).finally( () => { this.cargar = false })
        }

        this.close()

      },

      emitirMensaje(message, estatus ){
        this.alerta = { 
          activo: true,
          texto : message,
          color : estatus == 1? 'success': 'error'
        };
      },

      limpiarFormulario(){
          this.familia = null,
          this.editedItem = this.defaultItem
      }
    },
  }
</script>


